<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/SendBird.min.js"></script>
</head>

<body>
  <input type="hidden" id="username" name="username" value="">
  <input type="hidden" id="channel" name="channel" value="">
  <p>Welcome to paperplanes!</p>
  <input type="text" placeholder="/command" id="mainInput">
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/sb.js"></script>
</body>
</html>
