<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
</head>

<body>
  <p>Welcome to paperplanes!</p>
  <p>type /login or /signup to start</p>
  <input type="text" placeholder="/command" id="mainInput">
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
